<!--
  Generated template for the DetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>商品详情</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <div class="top">
        <div [class]="item.myActive" (click)="myLocation(i)" *ngFor="let item of myTopData;let i=index">
            <button ion-button [color]="item.myColor" clear >
                <ion-icon [name]="item.myName"></ion-icon>
                {{item.title}}
            </button>
        </div>
    </div>
    <div class="product" *ngIf="myShow[0].show">
          <ion-slides pager loop  *ngIf="detailData" class="mySlides">
              <ion-slide *ngFor="let item of detailData.pics">
                   <img [src]="'http://localhost:3000/'+item.img_md" alt="">
              </ion-slide>
          </ion-slides>
          <ion-grid>
             <ion-row align-items-center>
                  <ion-col col-10>
                     <span>新疆板栗南瓜</span>
                  </ion-col>
                  <ion-col col-2>
                      <div  [class]="myHeart" (click)="myAttention()">
                          <p class="heart">
                              <ion-icon name="heart"></ion-icon>
                          </p>
                          <span>关注</span>
                      </div>
                  </ion-col>
             </ion-row>
        </ion-grid>
        <div class="blank"></div>
        <div class="product-price">
              <span class="price">￥:{{details.new_price|number:".2"}}</span>
              <div class="more-price">
                  <span>更多优惠</span>
                  <ion-icon name="more"></ion-icon>
              </div>
        </div>
        <div class="blank"></div>
        <div class="product-count">
            <span>购买数量:</span>
            <div class="count">
                 <button ion-button outline small color="danger" (click)="buyCount(-1)" [disabled]="details.count<=1">
                      <ion-icon name="remove"></ion-icon>
                 </button>
                 <button ion-button clear color=danger small>
                        {{details.count}}
                 </button>
                 <button ion-button outline small color="danger" (click)="buyCount(1)" [disabled]="details.count>=99">
                        <ion-icon name="add"></ion-icon>
                </button>
            </div>
        </div>
        <div class="blank"></div>
        <div class="product-detail">
            <div class="detail-top">
                <div class="dt-item dt-item1" >商品介绍</div>
                <div class="dt-item">规格参数</div>
                <div class="dt-item">售后保障</div>
            </div>
             <img src="http://localhost:3000/img/produc_details/product_details1/long-picture/20180914061402870.jpg" alt="">    
           </div>
    </div>
    <div class="product-detail" *ngIf="myShow[1].show">
     <div class="detail-top">
         <div class="dt-item dt-item1" >商品介绍</div>
         <div class="dt-item">规格参数</div>
         <div class="dt-item">售后保障</div>
     </div>
      <img src="http://localhost:3000/img/produc_details/product_details1/long-picture/20180914061402870.jpg" alt="">    
    </div>
    <div class="comment" *ngIf="myShow[2].show">
         <div>
             正在加紧制作中...
         </div>
    </div>
    <div class="introduce" *ngIf="myShow[3].show">
        <div>
            正在加紧制作中...
        </div>
    </div>
</ion-content>
<ion-footer>
     <ion-grid>
         <ion-row >
             <ion-col col-2 align-self-center>
                  <button ion-button clear color="dark" full>
                      <ion-icon name="contacts"></ion-icon>
                  </button>
             </ion-col>
              <ion-col col-2>
                  <button ion-button clear color="dark" full (click)="share()">
                      <ion-icon name="share-alt"></ion-icon>
                  </button>
             </ion-col>
              <ion-col col-2>
                  <button ion-button clear color="dark" full [navPush]="cart">
                      <ion-icon name="cart"></ion-icon>
                  </button>
             </ion-col> 
            <ion-col col-6>
                <button ion-button full color="danger" (click)="addCart()">
                     加入购物车
                </button>
            </ion-col>
         </ion-row>
     </ion-grid>
</ion-footer>
