page-detail {
    $color:#f70738;
    $background:#ddd;
    .blank{
        height:8px;
        background:$background;
    }
    .top{
        border-bottom:1px solid $background;
        border-top:1px solid $background;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .top .active{
       border-bottom:2px solid $color;
       color:$color;
   }
    .product .mySlides{
         min-height:300px;
         max-height:380px;
     }
    .attention{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .attention1{
        color:$color;
    }
    .attention>.heart{
        margin:0;
        padding:3px 0;
    }
    .detail-top{
        display:flex;
        justify-content: center;
        align-items: center;
        border-bottom:1px solid $background;
        border-top:1px solid $background;
    }
    .detail-top .dt-item{
        text-align: center;
        padding:6px 0;
        width:33%;
    }
    .detail-top .dt-item1{
        color:$color;
    }
     .dt-item+.dt-item{
        border-left:1px solid #ddd;
    }
    .product-price,.more-price,.product-count,.count{
        display:flex;
        align-items: center;
    }
    .product-price{
        padding:6px;
        justify-content: space-between;
    }
    .product-price .price{
         color:$color;
    }
    .product-count{
        padding:6px;
        justify-content: flex-start;
    }
    .more-price,.count{
        justify-content: center;
    }
}
