<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>欢迎注册</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="register" *ngIf="isShow==false">
          <ion-item>
              <ion-label color="dark">手机号码:</ion-label>
              <ion-input placeholder="请手机号码"  [(ngModel)]="phone" (blur)="phoneBlur()" (ngModelChange)="phoneChange()"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="dark">用户名:</ion-label>
            <ion-input placeholder="请输入用户名" [(ngModel)]="uname" (blur)="unameBlur()" (ngModelChange)="unameChange()"></ion-input>
          </ion-item>
          <button ion-button color="danger" full (click)="next()" margin [disabled]="btnDisabled(testPhone,testUname)">下一步</button>
    </div>
    <div class="register" *ngIf="isShow">
        <ion-item>
            <ion-label color="dark">密码:</ion-label>
            <ion-input placeholder="请输入密码" type="password" [(ngModel)]="upwd" (ngModelChange)="upwdChange()" 
            (blur)="upwdBlur()"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="dark">确认密码:</ion-label>
            <ion-input placeholder="请确认密码" type="password" [(ngModel)]="upwd1" (ngModelChange)="upwd1Change()" 
            (blur)="upwd1Blur()"></ion-input>
        </ion-item>
        <button ion-button color="danger" full (click)="register()" margin [disabled]="btnDisabled(testUpwd,testUpwd1)">注册</button>
    </div>
</ion-content>
