page-register {

    .register{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
      .register{
          padding-top:7rem;
      }

}
