page-search {
    $color:#f70738;
    $background:#ddd;
    .blank{
        height:8px;
        background:$background;
    }
    .search-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding:0 16px;
        border-top:2px solid $background;
        border-bottom:2px solid $background;
    }
    .content{
        padding:6px 0;
        border-bottom:1px solid #eee;
    }
}
