<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-searchbar placeholder="搜索商品" (ionInput)="search()" [(ngModel)]="kwords"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content >
     <div class="blank"></div>
      <div class="search-content" *ngIf="kwordList">
           <div class="content" *ngFor="let item of kwordList;let i=index">{{item}}</div>
      </div>
</ion-content>
