<ion-header>
  <ion-navbar>
    <ion-title>
      购物车
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
   <ion-refresher (ionRefresh)="refreshPage($event)">
       <ion-refresher-content pullingText="coobar让生活更健康" pullingIcon="circles" refreshingText="coobar让生活更健康">
       </ion-refresher-content>
   </ion-refresher> 
   <div class="cart" *ngIf="cart">
        <div class="cart-title">
             <ion-checkbox color="danger" [(ngModel)]="isAllSelected" (ngModelChange)="myAllSelect()"></ion-checkbox>
             <span class="sell">coobar专卖</span>
        </div>
        <ion-list >
             <ion-item-sliding *ngFor="let item of cart ;let i=index">
                <ion-item>
                        <ion-checkbox color="danger" item-start [(ngModel)]="item.isSelected" 
                        (ngModelChange)="mySelect()"></ion-checkbox>
                    <ion-thumbnail item-start>
                        <img [src]="'http://superlove.applinzi.com/'+item.img_src" alt="">
                    </ion-thumbnail>
                    <div item-start class="cart-item">
                        <p  class="detail" >{{item.title}}</p>
                        <p class="other"></p>
                        <div class="count-price">
                             <span class="price">￥{{item.new_price|number:".2"}}</span>
                             <div class="count" >
                                    <button ion-button color="light" (click)="productCount(i,-1)">-</button>
                                    <span class="count-item2">{{item.count}}</span>
                                    <button ion-button color="light" (click)="productCount(i,1)">+</button>
                             </div>
                        </div>  
                    </div>           
                </ion-item>             
                <ion-item-options>
                          <button ion-button color="danger" (click)="deleteProduct(i)">
                               <ion-icon name="trash"></ion-icon>
                               删除
                          </button>
                </ion-item-options>
             </ion-item-sliding>
        </ion-list>
   </div>
   <div class="cart" *ngIf="cart.length==0">
        <div class="cartBlank">购物车空空如也</div>
   </div>
   <ion-infinite-scroll (ionInfinite)="loadMore($event)">
         <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="加载更多...">
         </ion-infinite-scroll-content>
   </ion-infinite-scroll>
</ion-content>

<ion-footer>
    <ion-grid *ngIf="cart">
          <ion-row align-items-center>
                <ion-col col-2 align-self-center >
                    <div class="allSelect">
                            <ion-checkbox color="danger"[(ngModel)]="isAllSelected" 
                            (ngModelChange)="myAllSelect()"></ion-checkbox>
                            <span>全选</span>
                    </div>
                </ion-col>
                <ion-col col-4>
                    <span class="sum">合计:</span>
                    <span class="sumMoney">￥{{calcSum()|number:".2"}}</span>
                </ion-col>
                <ion-col>
                    <button ion-button color="danger" full (click)="myPay()" [disabled]="calcSum()<=0">结算</button>
                </ion-col>
          </ion-row>
    </ion-grid>
</ion-footer>
